@font-face {
font-family: "reg";
src: url("fonts/regular.otf");
font-weight: bold;
}

@font-face {
font-family: "med";
src: url("fonts/medium.otf");
font-weight: bold;
}

@font-face {
font-family: "light";
src: url("fonts/light.otf");
font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* body{
  background: url('img/mee.png');
  overflow: hidden;

} */

*{
  background-color: #efe5d2;
}

.reg{
  font-family: 'reg';
}

.med{
  font-family: 'med';
}

.small{
  font-size: 0.8em;
}

.container{
    max-width: 1205px;
    margin: 0 auto;
    padding: 0.5em 1em;
}

header {
  text-align: center;
}

#mylogo{
  width: 50px;
  padding: 1em;
}

nav{
    margin: 2em auto 0;
    max-width: 500px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

nav ul li {
  list-style: none;
  font-family: 'reg';
}

nav ul li a {
  font-size: 1em;
  color: black;
  font-weight: 300;
  text-decoration: none;

}


   nav ul li a:hover{
     /* opacity: .5; */
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;

   }

main {
  display: flex;
  flex-flow: column;

}

.research {
  display:flex;
  flex-flow: column;
}

.research > div{
    text-align: center;
    background: #f3f;
    padding: 0em;

}

.research > div h1{
    text-align: center;
    font-size:6em;
    padding:0em;

}

.research p{
  text-align: center;
  font-size:1em;
}

.hero {
  text-align: center;
}

.hero h1{
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'med';
  max-width: 500px;
}

.hero h3{
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'med';
  max-width: 500px;
}

.hero p {
  font-size: 1em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 3em auto;
  font-family: 'reg';
}

.hero p: before{
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #000;
  margin: 1em auto;
  font-family: 'reg';
}

.hero a {
  background: #000;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 700;
  font-family: 'reg';
}

figure{
  text-align: center;

}

figure img {
  margin: 1em auto 0;
  width: 35em;
  padding-left: 0em;
}

footer{
    font-family: 'med';
    text-align: left;
    padding: 2em;
}

footer a{
    font-size: 0.6em;
    font-family: 'med';
    color: #000;
    padding: 1em;
    text-decoration: none;
}


footer a:hover{
  text-decoration: underline;
  opacity: .5;
  transition: .5s;
}

.social-media{
  padding-top: 1.6em;
}

.social-media a{
  padding: 0em;
  background: none;
}

.resume{
  padding-top:0.7em;
}

.resume a{
  padding: 0em;
  background: none;
  color:black;
  font-size: 1em;
}

.resume a:hover{
  opacity: .5;
  transition: .9s;
}

video {
  width: 100%;
  height: auto;
}

.wrapper{
  padding: 5em;
}



@media screen and (min-width: 920px) {

  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

   header {
     display: flex;
     justify-content: space-between;
     flex-flow: wrap;
     align-items: center;
   }
   nav {
     margin:0;
   }

   nav ul {
     margin: 0;
     padding: 0;
     display: flex;
   }

   nav ul li {
     list-style: none;
     padding: 1em;
   }

   nav ul li a{
     font-size: 1em;
     color: black;
     font-weight: 700;
     text-decoration: none;
   }

   nav ul li a:hover{
     /* opacity: .5; */
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;



   }

   /* .highlight{
     border: 1px solid #000;
   } */


   main{
     flex-flow: row;
   }

   .research{
     flex-flow: row;
   }

   .hero{
     text-align: left;
   }
   .hero h1{
     font-size: 2em;
     padding-top:0.8em;
   }

   .hero h3{
     font-size: 0.6em;
     font-family:'med';
   }


   .hero p:before {
     /* margin: 1em 0; */
   }
   .hero p {
     font-size: 0.9em;
     padding: 0;
     margin: 0 0 0em 0;
     max-width: 300px;
   }

   .social-media{
     align-items: center;
   }

   figure img {
     margin: 1em auto 0;
     width: 32em;
     padding-left: 0em;
   }

}



    .wrapper {
      padding-top:4em;
    }

    .written-area h1{
      text-align: center;
      font-size: 2em;
      font-family: 'med';

    }

    .written-area p{
      text-align: center;
      font-size: 1em;
      font-family: 'reg';

    }

    .written-area2{
      padding-top:3em;
      max-width: 700px;
    }

    .written-area2 h1{
      text-align: left;
      font-size: 2em;
      font-family: 'med';

    }

    .written-area2 p{
      text-align: left;
      font-size: 1em;
      font-family: 'reg';

    }

    .research{
      padding-top:3em;
    }

    .research h1{
      text-align: left;
      font-size: 2em;
      font-family: 'med';

    }

    .research p{
      text-align: center;
      font-size: 1em;
      font-family: 'reg';
      padding:3em;

    }



    .img-area{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .single-img{
      /* padding: 0 20px 20px; */
      margin: 2em;
      border:1px;
      border-style: solid;
      border-color: #000;
    }

    img:hover{
      opacity: .5;
      transition: .9s;
    }
