/* LOADING ALL THE FONTS */
@font-face {
font-family: "reg";
src: url("fonts/regular.otf");

}

@font-face {
font-family: "med";
src: url("fonts/medium.otf");

}

@font-face {
font-family: "light";
src: url("fonts/light.otf");

}

@font-face {
font-family: "bold";
src: url("fonts/bold.otf");

}

/* FONT CLASSES */
.light{
    font-family: "light";
}

.reg{
  font-family: "reg";
}

.med{
  font-family: "med";
}

.bold{
    font-family: "bold";
}

.black{
    font-family: "black";
}




html {
  scroll-behavior: smooth;
}


*{
  background-color: #efe5d2;
}

.redText{
    color: #ea462f;
}

.blueText{
    color: #1aace2;
}
.reg{
  font-family: 'reg';
}

.med{
  font-family: 'med';
}

.small{
  font-size: 0.8em;
}

.container{
    max-width: 1205px;
    margin: 0 auto;
    padding: 0.5em 1em;
}

header {
  text-align: center;
}

#mylogo{
  width: 50px;
  padding: 1em;
}




nav{
    margin: 2em auto 0;
    max-width: 500px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

nav ul li {
  list-style: none;
  font-family: 'reg';
}

nav ul li a {
  font-size: 1em;
  color: black;
  font-weight: 300;
  text-decoration: none;

}


   nav ul li a:hover{
     /* opacity: .5; */
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;

   }


   .hero a{
    text-decoration: none;
    color: #ea462f;
   }


   .hero a:hover{
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;
   }


   .resume a{
    text-decoration: none;
    color: #ea462f;
   }


   .resume a:hover{
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;
   }

main {
  display: flex;
  flex-flow: column;

}



.hero {
  text-align: center;
}

.hero h1{
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'med';
  max-width: 500px;
}

/* .hero h3{
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'med';
  max-width: 500px;
} */

.hero p {
  font-size: 1em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 3em auto;
  font-family: 'reg';
}

.hero p: before{
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #000;
  margin: 1em auto;
  font-family: 'reg';
}

/* .hero a {
  background: #000;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 700;
  font-family: 'reg';
} */

.hero2 {
  text-align: center;
}

.hero2 a {
  text-decoration: none;
}

.hero2 h1{
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'med';
  text-align: center;
}

/*  */
.hero2 h3{
  font-size: 1.3em;
  font-family: 'light';
  text-align: center;
}

.hero2 p {
  font-size: 1em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 3em auto;
  font-family: 'reg';
}

.hero2 p: before{
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #000;
  margin: 1em auto;
  font-family: 'reg';
}

/* .hero2 a {
  background: #000;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 700;
  font-family: 'reg';
} */

figure{
  text-align: center;

}

figure img {
  margin: 1em auto 0;
  width: 25em;
  padding-left: 0em;
}


footer{
  display: flex;
  justify-content: space-between;
    text-align: left;
    padding: 2em;
}

footer a{
    font-size: 0.6em;
    font-family: 'med';
    color: #000;
    /* padding-right: 0.2em; */
    text-decoration: none;
}


footer h4{
    font-size: 0.8em;
    font-family: 'bold';
    color: #000;
    /* padding-right: 0.2em; */
    text-decoration: none;
}


footer a:hover{
  color: #06b1e7;
  transition: .5s;
  border-bottom: 1px solid #ea462f;
  padding-bottom: 3px;
}

.seemore a:hover{
  color: #06b1e7;
  transition: .5s;
  border-bottom: 1px solid #ea462f;
  padding-bottom: 3px;
}


.social-media{
  padding-top: 1.6em;
}

.social-media a{
  padding: 0em;
  background: none;
}

.resume{
  padding-top:0.7em;
}

.resume a{
  padding: 0em;
  background: none;
  color:black;
  font-size: 1em;
}

.resume a:hover{
  opacity: .5;
  transition: .9s;
}

video {
  width: 100%;
  height: auto;
}

.wrapper{
  padding: 5em;
}


    .wrapper {
      padding-top:4em;
    }


    .written-area2{
      padding-top:3em;
      max-width: 600px;
    }

    .written-area2 h1{
      text-align: left;
      font-size: 2em;
      margin: 0;
      font-family: 'med';

    }

    .written-area2 h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 650px;
      text-align: left;

    }

    .written-area2 p{
      font-size: 1em;
      font-weight: 600;
      max-width: 1000px;
      line-height: 1.8em;
      font-family: 'reg';

    }

    .problem h1{
      text-align: left;
      font-size: 2.6em;
      font-family: 'med';

    }

    .problem h2{
      padding-top:0.3em;
      text-align: left;
      font-size: 1.5em;
      font-family: 'reg';

    }

    .problem p{
      text-align: left;
      font-size: 1em;
      font-family: 'reg';
      padding-bottom:4em;

    }

    .problem h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 350px;
      text-align: left;

    }


    .research{
      padding-top:3em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }

    .research h1{
      text-align: left;
      font-size: 2em;
      font-family: 'med';

    }

    .research .spacing{
      padding-top:4em;

    }

    .research h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 350px;
      text-align: left;

    }

    .research p{
      text-align: center;
      font-size: 1em;
      font-family: 'reg';
      padding-bottom: 1em;


    }

/* MOBILE - QUANTITATIVE RESEARCH PART */

    .quantitative{
      padding-top:0em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }

    .quantitative h1{
      text-align: left;
      font-size: 3em;
      font-family: 'reg';

    }

    .quantitative h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 400px;
      text-align: center;

    }


    .img-area{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    /* MOBILE */

    .single-box{

      margin-top:1em;
      margin: 1em;
      border-bottom: 1px solid black;
      text-align: left;
      padding-bottom: 2em;
      max-width: 490px;
    }

    .single-box h1{
     font-size: 3em;
     text-align: center;
     /* padding: 0.1em; */
     margin:0;
     font-family:'reg'
    }

    .single-box p{
     font-size: 1em;
    text-align: center;
    max-width: 320px;
    margin:0;
    padding: 1.2em;
    }




    .single-box2{

      margin-top:1em;
      margin: 1em;
      border-bottom: 1px solid black;
      text-align: left;
      padding-bottom: 2em;
      max-width: 490px;
    }

    .single-box2 h1{
     font-size: 3em;
     text-align: center;
     /* padding: 0.1em; */
     margin:0;
     font-family:'reg'
    }

    .single-box2 p{
    font-size: 1em;
    text-align: right;
    max-width: 320px;
    margin:0;
    padding: 1.2em;
    }

    .single-box2 h4{
     font-size: 1em;
    text-align: right;
    max-width: 520px;
    margin:0;
    }

    .single-box2 h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 380px;
      text-align: right;
      padding-left: 10em;

    }



    /* USER EXPERIENCE ISSUES */
    .single-box3{

      margin-top:1em;
      margin: 1em;
      border-bottom: 1px solid black;
      text-align: left;
      padding-bottom: 2em;
      max-width: 490px;
    }

    .single-box img{
      padding-left:20em;
    }

    .single-box3 h1{
     font-size: 3em;
     text-align: center;
     /* padding: 0.1em; */
     margin:0;
     font-family:'reg'
    }

    .single-box3 p{
    font-size: 1em;
    text-align: left;
    max-width: 320px;
    margin:0;
    padding: 1.2em;
    }

    .single-box3 h4{
     font-size: 1em;
    text-align: center;
    max-width: 520px;
    margin:0;
    }

    .single-box3 h3{
      font-size: 0.8em;
      font-family:'light';
      max-width: 480px;
      text-align: center;
      padding-left: 0em;

    }



        /* ROLES*/
        .single-box4{

          margin-top:1em;
          margin: 1em;
          border-bottom: 1px solid black;
          text-align: left;
          align-items: left;
          padding-bottom: 2em;
          max-width: 490px;
        }

        .single-box4 h1{
         font-size: 3em;
         text-align: left;
         /* padding: 0.1em; */
         margin:0;
         font-family:'reg'
        }

        .single-box4 p{
        font-size: 1em;
        text-align: left;
        max-width: 320px;
        margin:0;
        padding: 1.2em;
        }

        .single-box4 h4{
         font-size: 1em;
        text-align: left;
        max-width: 520px;
        margin:0;
        }

        .single-box4 h3{
          font-size: 0.8em;
          font-family:'light';
          max-width: 480px;
          text-align: left;
          padding-left: 0em;

        }




    .right{
    text-align: right;

    }



    .single-img{
      /* padding: 0 20px 20px; */
      margin: 2em;
      border:1px;
      border-style: solid;
      border-color: #000;
    }

    .wrapper img:hover{
      opacity: .5;
      transition: .9s;
    }

    .citations{
      padding: 1em;
      padding-bottom:13em;
    }

    .contact{
      padding: 3em;
    }

    .contact h1{
      padding-left: 0.3em;
      font-size: 3em;
    }

    .contact h2{
      padding-left: 0.8em;
    }

    .right{
    text-align: right;

    }


    .center{
    text-align: center;

    }

    .ux{
      padding-top: 5em;
    }

    .qualitative{
      padding-top: 3em;
    }

    hr{
       display: none;
    }


  input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #000;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
   font-family: 'reg';
 }

 input[type=submit] {
   background-color: #efe5d2;

   color: black;
   padding: 2px 7px;
   border: 1px solid #000;
   border-radius: 4px;
   box-sizing: border-box;
   border-radius: 4px;
   cursor: pointer;
   /* font-family: 'reg'; */
 }

 input[type=submit]:hover {
   background-color: red;
 }

 .box {
   border-radius: 5px;
   background-color: #efe5d2;
   padding: 20px;
   font-family: 'med';
 }


@media screen and (min-width: 920px) {


   header {
     display: flex;
     justify-content: space-between;
     flex-flow: wrap;
     align-items: center;
   }
   nav {
     margin:0;
   }

   nav ul {
     margin: 0;
     padding: 0;
     display: flex;
   }

   nav ul li {
     list-style: none;
     padding: 1em;
   }

   nav ul li a{
     font-size: 1em;
     color: black;
     font-weight: 700;
     text-decoration: none;
   }

   nav ul li a:hover{
     /* opacity: .5; */
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;

   }


   .research{
     padding-top:4em;
     /* padding-bottom:4em; */
     display: flex;
     flex-flow: row;
     text-align: center;

   }

   .research h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 650px;
     text-align: left;

   }


   .written-area2 h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 750px;
     text-align: left;

   }

   .quantitative{
     padding-top:1em;
     display: flex;
     flex-flow: row;
     text-align: center;

   }

   .team{
     padding-top:1em;
     display: flex;
     flex-flow: row;
     text-align: left;

   }

   .quantitative h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 400px;
     text-align: right;

   }



   main{
     flex-flow: row;
   }



   .hero{
     text-align: left;
   }
   .hero h1{
     font-size: 2.1em;
     padding-top:0.8em;
     max-width: 400px;
   }

   .hero h3{
     font-size: 0.5em;
     font-family:'light';
   }


   .hero p:before {
     /* margin: 1em 0; */
   }
   .hero p {
     font-size: 0.9em;
     padding: 0;
     margin: 0 0 0em 0;
     max-width: 400px;
   }


   .hero2{
     text-align: left;
   }
   .hero2 h1{
     margin:0;
     font-size: 3.2em;
     padding-top:1.2em;
     font-family: 'med';
     text-align: left;
   }

   .hero2 h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 280px;
     padding:0;
     text-align: left;
   }

   .written-area2 h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 400px;
   }

   .problem h1{
     text-align: left;
     font-size: 2.6em;
     font-family: 'med';

   }

   .problem p{
     text-align: left;
     font-size: 1em;
     font-family: 'reg';
     padding-bottom:4em;

   }

   .problem h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 380px;
     text-align: left;

   }



   .hero2 p:before {
     /* margin: 1em 0; */
   }
   .hero2 p {
     font-size: 0.9em;
     padding-top: 2em;
     margin: 0 0 0em 0;
     max-width: 400px;
   }

   .social-media{
     align-items: center;
   }

   .social-media a:hover{
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;
   }

   figure img {
     margin: 1em auto 0;
     width: 32em;
     padding-left: 0em;
   }

   .move-left{
     padding-left: 10em;
   }

   .vl {
  border-left: 1px solid black;
  height: 300px;


}




.spacing{
  padding-top:2em;
}

   .single-box{

     margin-top:1em;
     margin: 1em;
     border-bottom: 1px solid black;
     text-align: left;
     padding-bottom: 2em;
     max-width: 490px;
   }

   .single-box h1{
    font-size: 3em;
    text-align: center;
    /* padding: 0.1em; */
    margin:0;
    font-family:'reg'
   }

   .single-box p{
    font-size: 1em;
   text-align: center;
   max-width: 320px;
   margin:0;
   padding: 1.2em;
   }

   .single-box h3{
     font-size: 0.8em;
     font-family:'light';
     max-width: 280px;
     text-align: center;

   }



/* QUALITATIVE - DESKTOP */

   .single-box2{

     margin-top:1em;
     margin: 1em;
     border-bottom: 1px solid black;
     text-align: left;
     padding-bottom: 2em;
     max-width: 490px;
   }

   .single-box2 h1{
    font-size: 3em;
    text-align: center;
    /* padding: 0.1em; */
    margin:0;
    font-family:'reg'
   }

   .single-box2 p{
    font-size: 1em;
   text-align: right;
   max-width: 320px;
   margin:0;
   padding: 1.2em;
   }


   .single-box2 h3{
     font-size: 0.8em;
     font-family:'light';
     /* max-width: 280px; */
     text-align: right;
     padding-left: 2em;

   }

   .single-box2 h4{
    font-size: 1em;
   text-align: right;
   max-width: 520px;
   margin:0;
   }


   .single-box3{
     border-bottom: 1px solid #efe5d2;
     margin-top:1em;
     margin: 1em;
     text-align: left;
     padding-bottom: 2em;
     max-width: 590px;
   }

   .single-box3 h1{
    font-size: 3em;
    text-align: center;
    /* padding: 0.1em; */
    margin:0;
    font-family:'reg'
   }

   .single-box3 p{
    font-size: 1em;
   text-align: left;
   max-width: 590px;
   margin:0;
   padding: 1.2em;
   }


   .single-box3 h3{
     font-size: 0.8em;
     font-family:'light';
     /* max-width: 280px; */
     text-align: left;
     padding-left: 0em;

   }

   .single-box3 h4{
    font-size: 1em;
   text-align: left;
   max-width: 520px;
   margin:0;
   }

   .single-box3 img{
     border-bottom: 1px solid #efe5d2;
   }

   .right{
   text-align: right;

   }

   .ux{
     padding-top: 5em;
   }

   .qualitative{
     padding-top: 3em;
   }

   hr{
      border: 1px solid #000;
   }
   .resume a{
    text-decoration: none;
    color: #ea462f;
   }


   .resume a:hover{
     color: #06b1e7;
     transition: .5s;
     border-bottom: 1px solid #ea462f;
     padding-bottom: 3px;
   }

   input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'reg';
   }

   input[type=submit] {
    background-color: #efe5d2;

    color: black;
    padding: 2px 7px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    /* font-family: 'reg'; */
   }

   input[type=submit]:hover {
    background-color: red;
   }

   .box {
    border-radius: 5px;
    background-color: #efe5d2;
    padding: 20px;
    font-family: 'med';
   }

.contact h1{
  padding-left: 0.3em;
  font-size: 3em;
}

.contact h2{
  padding-left: 0.8em;
}

}
