@font-face {
font-family: "reg";
src: url("fonts/regular.otf");
font-weight: bold;
}

@font-face {
font-family: "med";
src: url("fonts/medium.otf");
font-weight: bold;
}

@font-face {
font-family: "light";
src: url("fonts/light.otf");
font-weight: bold;
}



*{
  background: #FAF6ED;
}

.container{
    max-width: 1005px;
    margin: 0 auto;
    padding: 2em 1em;
}

header {
  text-align: center;
}

#mylogo{
  width: 100px;
}

nav{
    margin: 1em auto 0;
    max-width: 500px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

nav ul li {
  list-style: none;
  font-family: 'reg';
}

nav ul li a {
  font-size: 1.25em;
  color: green;
  font-weight: 300;
  text-decoration: none;

}

main {
  display: flex;
  flex-flow: column;

}

.hero {
  text-align: center;
}

.hero h1{
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'med';
  max-width: 500px;
}

.hero p {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.8em;
  margin: 3em auto;
  font-family: 'reg';
}

.hero p: before{
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #000;
  margin: 1em auto;
  font-family: 'reg';
}

.hero a {
  background: #333;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 700;
  font-family: 'reg';
}
figure{
  text-align: center;

}

figure img {
  margin: 3em auto 0;
  width: 300px;
}

footer{
    font-family: 'reg';
    text-align: left;
    padding: 2em;
}

footer a{
    font-size: 0.6em;
    font-family: 'reg';

    color: #000;
    padding: 1em;
    text-decoration: none;
}



@media screen and (min-width: 920px) {
   header {
     display: flex;
     justify-content: space-between;
     flex-flow: wrap;
     align-items: center;
   }
   nav {
     margin:0;
   }

   nav ul {
     margin: 0;
     padding: 0;
     display: flex;
   }

   nav ul li {
     list-style: none;
     padding: 1em;
   }

   nav ul li a{
     font-size: 1.2em;
     color: black;
     font-weight: 700;
     text-decoration: none;
   }

   /* .highlight{
     border: 1px solid #000;
   } */

   main{
     flex-flow: row;
   }
   .hero{
     text-align: left;
   }
   .hero h1{
     font-size: 4em;
   }
   .hero p:before {
     margin: 1em 0;
   }
   .hero p {
     font-size: 1.3em;
     padding: 0;
     margin: 0 0 3em 0;
   }

   .hero a {
     background: #000;
   }
   .figure img{
     margin: 3em auto 0;
     width: 300px;
     margin: 0;
   }


}

.wrapper h1{
  text-align: center;
  font-size: 30px;
  font-family: Arial;
}

.img-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img{
  padding: 0 20px 20px;
}

img:hover{
  opacity: .5;
  transition: .9s;
}
